  .mdl-card__title.mdl-card--expand {
    display: flex;
    flex-direction: column;

    .skill-level {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

[data-component="portfolio-card"] {
  margin: 0px 10px 10px 0px;
  z-index: 0 !important;
}

[data-component="home-portfolio-card"] {
  margin: 0px 10px 10px 0px;
  z-index: 0 !important;
  width: 500px !important;

  > div {
    justify-content: center !important;
  }

  button {
    > span {
      font-size: 15px;
    }
  }
}

[data-component="card-title"] {
    color: #fff !important;
    height: 176px;
    background: url('../../assets/welcome_card.jpg') center / cover;
  }

[data-component="card-bottom"] {

  > a {
    color: transparent;
  }

  > button {
    width: 100%;
  }
}