[data-component="layout"] {
    background-color: blue;
    min-height: 100%;

    [data-component="header"] {
        background-color: red;
        top: 0;
        height: 75px;
        position: fixed;
        width: 100%;
        transition: top 0.2s ease-in-out;
    }

    .header-nav-up {
        top: -75px;
    }

    .header-nav-down {
        top: 0px;
    }

    .header-button-up {
        top: -70px !important;
    }

    .header-button-down {
        top: 46px !important;
    }

    [data-component="header-button"] {
        position: fixed;
        right: 40px;
        top: 46px;
        z-index: 999;
        transition: top 0.2s ease-in-out;
    }

    [data-component="content"] {
        padding-top: 101px;
        height: 4000px;
    }

    [data-component="footer"] {
        background-color: green;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }
}