[data-component="article"] {
  padding: 0 155px;
  line-height: 28px;

  .article-content{
    font-size: 22px;
    padding-top: 25px;
    padding: 25px 55px 0px 55px;

    
    
    ul > li {
      font-size: 21px;
    }

    .skills-cards,
    .achievements-cards {
      flex-flow: wrap;
      display: flex;
      padding: 15px;
      justify-content: center;

      [data-component="-portfolio-card"] {
          margin-right: 25px;
          margin-bottom: 25px;
          width: 400px;
      }
    }
  }
}

[role="dialog"] {
  h4 {
    font-weight: bold !important;
  }
}