[data-component="article"] {
  padding: 0 155px;
  line-height: 28px;
  margin-bottom: 65px;

  .article-content{
    font-size: 22px;
    padding-top: 25px;
    padding: 25px 120px 0px 30px;
    
    ul > li {
      font-size: 21px;
    }

    .skills-cards,
    .achievements-cards {
      flex-flow: wrap;
      display: flex;
      justify-content: center;

      [data-component="-portfolio-card"] {
          margin-right: 25px;
          margin-bottom: 25px;
          width: 400px;
      }
    }
  }
}

[role="dialog"] {
  h4 {
    font-weight: bold !important;
  }

  [data-component="modal-skill-list"] {
    width: 375px;

    h5 {
      font-weight: bold;
    }

    .link-list {
      text-decoration: none;
      > button.list-button, button {
        margin-right: 5px;
        margin-bottom: 15px;
        border-radius: 18px;
      }
    }

  }
}