[data-component="home-container"] {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    [data-component="home-intro"] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 800px;
        background: url("../../assets/intro5.jpg") center 0 no-repeat fixed;
    }

    .home-intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
    }

    [data-component="home-about-me"] {
        height: 300px;
        background: purple fixed;
    }

    [data-component="home-my-skills"] {
        height: 300px;
        background: mediumseagreen fixed;
    }

    [data-component="home-my-achievements"] {
        height: 300px;
        background: cyan fixed;
    }

    [data-component="home-my-career"] {
        height: 300px;
        background: peru fixed;
    }
}