[data-component="home-container"] {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    .home-intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
    }

    [data-component="home-about-me"] {
        height: 300px;
        background: purple fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    [data-component="home-my-skills"] {
        height: 300px;
        background: mediumseagreen fixed;
    }

    [data-component="home-my-achievements"] {
        height: 300px;
        background: cyan fixed;
    }

    [data-component="home-my-career"] {
        height: 300px;
        background: peru fixed;
    }
}

.mdl-card {
    width: 500px !important;

    .mdl-card__actions {
        display: flex;
        align-items: center;
    }
}